.body {
    display: flex;
}


.main { 
    display: flex;
    height: 100%;
    border: 1px solid rgb(0, 0, 0); 
    border-style: dashed;
    margin: 0px;
    flex-direction: column; 
    padding: 20px; 
} 

.title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: larger;
    font: 300 36px/1.6 system-ui;
    font-weight: bolder;
}

.content {
    display: flex;
    font-size: medium;
    float:right;
    text-align: justify;
    text-justify: inter-word;
    max-width: 450px;
    font: 300 16px/1.6 system-ui;
    padding-top: 10px;
}

.aside {
    display: flex;
    flex: 0 0 20vw;
    padding-left: 5px;
}

.pic1 img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    padding-right: 20px;
}

.pic2 img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    padding-left: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: larger;
    font: 300 36px/1.6 system-ui;
    font-weight: bolder;
}

.subtitle {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding-left: 5px;
    flex-direction: column;
    font-size: medium;
    font-style: italic;
    font: 300 18px/1.6 system-ui;
}


.nav ul { 
    display: flex;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0); 
    border-style: dashed;
    flex-direction: row;
    list-style: none;
    padding: 2px; 
    flex: 3;
}

a { 
    color:rgb(0, 0, 0);
    text-decoration:none;
}
a:hover, a:focus {
    text-decoration:underline;
}

.nav li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    flex: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}


