
.main { 
display: flex;
flex-direction: column;
height: 100%;
border: 1px solid rgb(0, 0, 0); 
border-style: dashed;
margin: 0px; 
padding: 20px; 
} 
    .title {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: larger;
        font: 300 36px/1.6 system-ui;
        font-weight: bolder;
    }
    
.subtitle {
    display: flex;
    padding-bottom: 15px;
    flex-direction: column;
    font-size: medium;
    font-style: italic;
    font: 300 18px/1.6 system-ui;
}

.figure1{
    width: 40%;
    height: 40%;
    float:left;
    flex-wrap: wrap;
} 

.content {
    display: flex;
    float:left;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: medium;
    text-align: justify;
    text-justify: inter-word;
    max-width: 450px;
    margin: 0 auto;
    font: 300 16px/1.6 system-ui;
}

.nav ul { 
    display: flex;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0); 
    border-style: dashed;
    flex-direction: row;
    list-style: none;
    padding: 2px; 
    flex: 3;
    }
    a { 
        color:rgb(0, 0, 0);
        text-decoration:none;
    }
    a:hover, a:focus {
        text-decoration:underline;
    }
.nav li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    flex: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}